<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Catalog Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="navbar-text" id="pageLabel">Page Name Here...</span>

    <div id="navbarMain" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>