<!-- <app-dynamic-navbar></app-dynamic-navbar> -->
<div class="container dashboardContainer">
  <div class="pinnedCatalogs mb-3">
    <div class="pinnedListItem">
      <div class="card item-1">
        <div class="card-body">
          <h6 class="card-title">Catalog Title</h6>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="card item-2">
        <div class="card-body">
          <h6 class="card-title">Catalog Title</h6>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="card item-3">
        <div class="card-body">
          <h6 class="card-title">Catalog Title</h6>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2">
    <div class="card-header bg-primary">
      <h5 class="card-header bg-primary">Catalog Name</h5>
      <a href="">
        <i class="fa fa-pencil"></i>
        <span class="sr-only">Edit Catalog</span>
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, quis?</p>
      <a href="" alt="categoryTags">#tag</a>
      <a href="" alt="categoryTags">#tag</a>
      <a href="" alt="categoryTags">#tag</a>
    </div>
    <small class="card-footer" style="background: lightcyan;">
      2 days ago
    </small>
  </div>
  <div class="card mb-2">
    <div class="card-header bg-primary">
      <h5 class="card-header bg-primary">Catalog Name</h5>
      <a href="">
        <i class="fa fa-pencil"></i>
        <span class="sr-only">Edit Catalog</span>
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, quis?</p>
      <a href="" alt="categoryTags">#tag</a>
      <a href="" alt="categoryTags">#tag</a>
      <a href="" alt="categoryTags">#tag</a>
    </div>
    <small class="card-footer" style="background: lightcyan;">
      2 days ago
    </small>
  </div>
  <div class="card mb-2">
    <div class="card-header bg-primary">
      <h5 class="card-header bg-primary">Catalog Name</h5>
      <a href="">
        <i class="fa fa-pencil"></i>
        <span class="sr-only">Edit Catalog</span>
      </a>
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, quis?</p>
      <a href="" alt="categoryTags">#tag</a>
      <a href="" alt="categoryTags">#tag</a>
      <a href="" alt="categoryTags">#tag</a>
    </div>
    <small class="card-footer" style="background: lightcyan;">
      2 days ago
    </small>
  </div>
</div>
<footer>
  <app-main-navbar></app-main-navbar>
</footer>