<nav class="navbar navbar-expand-md navbar-light bg-primary fixed-bottom">
  <div id="mainNavbar" class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-auto">
        <a routerLink="/home" class="nav-link">
          <i class="nav-link fa fa-home fa-lg"></i>
          <span class="sr-only">(Current)</span>
        </a>
      </li>
      <li class="nav-item active mr-auto">
        <a routerLink="/reminders" class="nav-link">
          <i class="nav-link fa fa-bell-o fa-lg"></i>
          <span class="sr-only">(Reminders)</span>
        </a>
      </li>
      <li class="nav-item active mr-auto">
        <a routerLink="catalog/favorites" class="nav-link">
          <i class="nav-link fa fa-heart-o fa-lg"></i>
          <span class="sr-only">(Favorites)</span>
        </a>
      </li>
      <li class="nav-item active mr-auto">
        <a routerLink="/catalog/create" class="nav-link">
          <i class="nav-link fa fa-pencil-square-o fa-lg"></i>
          <span class="sr-only">(Create Catalog)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>