#showcase{
  font-family: 'Baskerville Old Face';
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 10%;
}

h1{
  font-size: 50px;
  color: darkred;
  line-height: 1.2;  
}

.button{
  font-size: 18px;
  text-decoration: none;
  color: darkred;
  border: black .5px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.button:hover{
  background: #490049;
  color: white;
}