/* [Dashboard.Component] */
/* [QuickSearch Section]... */
.quickSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .quickSearch button {
    background: white;
    border: solid 0.5px grey;
    border-radius: 0 15px 15px 0; }
    .quickSearch button:hover {
      background: yellow; }

.quickSearchInput {
  border: solid 0.5px grey;
  border-radius: 15px;
  max-width: 100%; }

#mainNavbar {
  width: 100%;
  position: fixed; }

body {
  background: white; }

.pinnedListItem {
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 'item1 item2 item3';
  grid-template-columns: repeat(3, 1fr); }
  .pinnedListItem .item-1 {
    grid-area: item1;
    margin: auto;
    border: solid .5px green; }
  .pinnedListItem .item-2 {
    grid-area: item2;
    margin: auto;
    border: solid .5px blue; }
  .pinnedListItem .item-3 {
    grid-area: item3;
    margin: auto;
    border: solid .5px grey; }
