@import 'config';
@import 'pageLayout';
@import 'menu';

body {
  background: lighten($primaryColor, 50);
}

.pinnedListItem {
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
  'item1 item2 item3';
  grid-template-columns: repeat(3, 1fr);

  .item-1{
    grid-area: item1;
    margin: auto;
    border: solid .5px green;
  }
  .item-2{
    grid-area: item2;
    margin: auto;
    border: solid .5px blue;
  }
  .item-3{
    grid-area: item3;
    margin: auto;
    border: solid .5px grey;
  }
}

@import 'mobile';